.tc-cookies {
  padding: 20px;
}

.tc-cookies__title {
  margin-bottom: 20px;
}

.tc-cookies__header {
  margin: 25px 0;
}

.tc-cookies__text {
  margin: 25px 0;
}

.tc-cookies__table {
  max-width: 700px;
}