@import "~@material/elevation/mdc-elevation";

.tc-message {
  margin: 15px 5px 15px 5px;
}

.tc-message__body {
  padding: 15px;
}

.tc-message_success {
  color: black;
}

.tc-message_error {
  color: red;
}