.tc-cookie-notice {
  background: rgba(12, 12, 12, 0.75);
  color: white;
  width: 20em;
  padding: 1em;
  position: fixed;
  left: 0.5em;
  bottom: 0;
}

.tc-cookie-notice__toolbar {
  width: 100%;
  position: relative;
}
